Repository NCAsterism/places2go: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, check-yaml

black:
  name: Black Code Formatter
  entry: black
  language: system
  args:
  - --line-length=88

flake8:
  name: Flake8 Linter
  entry: flake8
  language: system
  args:
  - --max-line-length=127
  - --max-complexity=10
  - --select=E9,F63,F7,F82,E501,W503

check-yaml:
  name: Check YAML
  entry: python -c "import sys, yaml; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

docs: create comprehensive GitHub Wiki
  README.md
  WIKI_COMPLETE.md
  WIKI_SUMMARY.md
  scripts/create_wiki.ps1
  scripts/push_to_github.ps1
  wiki/Architecture.md
  wiki/Contributing.md
  wiki/Development-Guide.md
  wiki/FAQ.md
  wiki/Home.md
  wiki/Installation.md
  wiki/Quick-Start.md
  wiki/README.md
  wiki/Roadmap.md
Due: none

feat: configure mypy for static type checking
  .github/workflows/ci.yml
  CONTRIBUTING.md
  pyproject.toml
  requirements.txt
  scripts/create_issues.py
  scripts/dashboard.py
Due: black, flake8, check-yaml

feat: add comprehensive logging framework
  .gitignore
  README.md
  scripts/dashboard.py
Due: black, flake8

test: add comprehensive chart generation tests
  tests/test_charts.py
Due: black, flake8

feat: merge logging and exception handling
  BOT_RESPONSE_PLAN.md
  README_OLD.md
  logs/dashboard.log
  pyproject.toml
  scripts/__init__.py
  scripts/dashboard.py
  temp_develop_dashboard.py
  tests/test_exceptions.py
Due: black, flake8

feat: add custom exception classes and error handling
  BOT_RESPONSE_PLAN.md
  README_OLD.md
  logs/dashboard.log
  pyproject.toml
  scripts/__init__.py
  scripts/dashboard.py
  scripts/exceptions.py
  temp_develop_dashboard.py
  tests/test_exceptions.py
Due: black, flake8

Revert "feat: add custom exception classes and error handling"
  BOT_RESPONSE_PLAN.md
  README_OLD.md
  logs/dashboard.log
  pyproject.toml
  scripts/__init__.py
  scripts/dashboard.py
  scripts/exceptions.py
  temp_develop_dashboard.py
  tests/test_exceptions.py
Due: black, flake8

test: add comprehensive integration tests for full dashboard workflow
  tests/test_integration.py
Due: black, flake8

feat: add pre-commit hooks for code quality
  .pre-commit-config.yaml
  CONTRIBUTING.md
  requirements.txt
Due: check-yaml

docs: add comprehensive Phase 2 completion summary
  PHASE2_COMPLETE.md
Due: none

fix: add UTF-8 encoding to HTML file reads in chart tests
  tests/test_charts.py
Due: black, flake8

docs: add Phase 3 planning and process improvements
  PHASE3_PLAN.md
  docs/DATA_STRUCTURE.md
  docs/PR_BEST_PRACTICES.md
  docs/REORGANIZATION_PLAN.md
  scripts/__init__.py
Due: black, flake8

docs: add Phase 3 preparation summary and update CONTRIBUTING
  CONTRIBUTING.md
  PHASE3_PREP_SUMMARY.md
Due: none

refactor: reorganize project structure
  .gitignore
  README.md
  docs/README.md
  docs/architecture/DATA_STRUCTURE.md
  docs/processes/PR_BEST_PRACTICES.md
  docs/processes/branching.md
  docs/project/BUILD_SUMMARY.md
  docs/project/PHASE1_COMPLETE.md
  docs/project/PHASE2_COMPLETE.md
  docs/project/PHASE3_PLAN.md
  docs/project/PHASE3_PREP_SUMMARY.md
  docs/project/READY_TO_PUSH.md
  docs/project/REORGANIZATION_PLAN.md
  docs/project/ROADMAP.md
  docs/project/WIKI_COMPLETE.md
  docs/project/WIKI_SUMMARY.md
  docs/project/task_breakdown.md
  pyproject.toml
  scripts/dashboard.py
Due: black, flake8

feat: implement new data structure and DataLoader class
  data/README.md
  data/destinations/cost_of_living.csv
  data/destinations/destinations.csv
  data/flights/flight_prices.csv
  data/weather/weather_data.csv
  scripts/core/__init__.py
  scripts/core/data_loader.py
  tests/test_data_loader.py
Due: black, flake8

docs: add Phase 3A completion summary
  docs/project/PHASE3A_COMPLETE.md
Due: none

feat: add DataLoader demonstration script
  scripts/demo_data_loader.py
Due: black, flake8

feat: create GitHub issues for visualization pages
  scripts/create_visualization_issues.py
Due: black, flake8

docs: add visualization issues summary
  docs/project/VISUALIZATION_ISSUES.md
Due: none

style: remove unused pytest import
  tests/test_integration.py
Due: black, flake8

style: fix mypy type annotation errors
  scripts/core/data_loader.py
  scripts/create_visualization_issues.py
  scripts/demo_data_loader.py
Due: black, flake8

style: fix remaining mypy type errors
  scripts/create_visualization_issues.py
  scripts/demo_data_loader.py
Due: black, flake8

ci: install package in editable mode for tests
  .github/workflows/ci.yml
Due: check-yaml

build: exclude wiki and data dirs from package
  pyproject.toml
Due: none

Add interactive weather forecast visualization dashboard with 6 chart types (#23)
  scripts/visualizations/weather_forecast.py
  tests/test_weather_forecast.py
Due: black, flake8

Update scripts/visualizations/flight_prices.py
  scripts/visualizations/flight_prices.py
Due: black, flake8

Add comprehensive visualization documentation and README (#26)
  .build/visualizations/README.md
  .build/visualizations/examples/README.md
  CONTRIBUTING.md
  README.md
Due: none

Update scripts/visualizations/destinations_map.py
  scripts/visualizations/destinations_map.py
Due: black, flake8

Add interactive cost of living comparison visualization with 4 chart types (#25)
  scripts/visualizations/README.md
  scripts/visualizations/cost_comparison.py
  tests/test_cost_comparison.py
Due: black, flake8

Create interactive destinations map visualization with Plotly scatter_geo (#24)
  scripts/visualizations/destinations_map.py
  tests/test_destinations_map.py
Due: black, flake8

fix: add UTF-8 encoding for HTML file writing
  scripts/visualizations/destinations_map.py
  scripts/visualizations/weather_forecast.py
Due: black, flake8

Create flight prices time-series visualization dashboard (#27)
  scripts/visualizations/flight_prices.py
  tests/test_flight_prices.py
Due: black, flake8

fix: add UTF-8 encoding to flight_prices.py
  scripts/visualizations/flight_prices.py
Due: black, flake8

docs: add Phase 3B completion summary
  docs/project/PHASE3B_COMPLETE.md
Due: none

docs: add Phase 3C planning document
  docs/project/PHASE3C_PLAN.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
